---
import { twMerge } from 'tailwind-merge'

type Variant = 'default' | 'rounded'
type VariantStyles = {
  [k in Variant]: string
}

type ColorScheme = 'light' | 'dark' | 'primary'
type ColorSchemeStyles = {
  [k in ColorScheme]: string
}

export interface Props {
  href: string
  ariaLabel?: string
  variant?: Variant
  colorScheme?: ColorScheme
  override?: string
  type?: 'submit' | 'button'
  id?: string
  target?: '_blank' | '_self' | '_parent' | '_top'
}

const {
  ariaLabel,
  variant = 'default',
  colorScheme = 'light',
  override,
  href,
  id,
  target = '_self',
} = Astro.props as Props

const btnVariants: VariantStyles = {
  default:
    'w-fit h-fit p-1 rounded-full hover:scale-110 transition-all ease-in-out duration-200',
  rounded:
    'py-2 px-4 rounded-full shadow hover:scale-105 transition-all ease-in-out duration-200',
}

const btnColorScheme: ColorSchemeStyles = {
  light: 'text-slate-900 bg-white hover:bg-slate-50',
  dark: 'text-slate-100 bg-slate-800 hover:bg-slate-900',
  primary: 'text-sky-100 bg-sky-600 hover:bg-sky-800',
}

const classDeclarations = twMerge(
  'inline-block transition-transform duration-300 [transition-timing-function:cubic-bezier(0.34,1.56,0.64,1)] focus-within:scale-105 hover:scale-105',
  btnVariants?.[variant],
  btnColorScheme?.[colorScheme],
  override,
)
---

<a
  id={id}
  href={href}
  target={target}
  class={classDeclarations}
  aria-label={ariaLabel}
>
  <slot />
</a>
