---
import Icon from './Icon.astro'

export interface Props {
  name: string
  placeholder?: string
  value?: string
  required?: boolean
  pattern?: string
  title?: string
}

const { placeholder, value, name, required = false } = Astro.props as Props
---

<label class="relative block w-full">
  <span class="sr-only">{placeholder}</span>
  <span class="absolute inset-y-0 left-0 top-3 flex pl-2">
    <Icon name="columns" width={16} height={16} />
  </span>
  <textarea
    name={name}
    class="block w-full rounded-md border border-slate-300 bg-white py-2 pl-9 pr-3 shadow placeholder:italic placeholder:text-slate-400 focus:border-slate-500 focus:outline-none focus:ring-1 focus:ring-slate-500 dark:bg-slate-700 dark:text-slate-100 dark:placeholder:text-slate-300 sm:text-sm"
    placeholder={placeholder}
    value={value}
    required={required}
    rows="10"></textarea>
</label>
